# Ignore node_modules (dependencies will be installed in the container)
node_modules
# Ignore environment files (passed as environment variables)
.env
.env.local
.env.test
# Ignore version control system files
.git
.gitignore
# Ignore build artifacts
.next
.swc
# Ignore logs
*.log
# Ignore Docker-related files
docker-compose.override.yml
# Ignore miscellaneous temporary files
.DS_Store
.vscode
.idea
*.swp
# Convenience folders for developemnt
sample_data
screenshots
